{%extends 'base.html'%}

{%block body_block%}
<style>
  .list-group-item{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
</style>
<div class="container">
  <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
          <h2 style="font-family:Georgia, 'Times New Roman', Times, serif;" class="text-center mt-3"><strong>Book Details!!!</strong></h2>
          <div class="card mt-4" style="width: 22rem;">
              <div class="card-header text-center bg-dark text-light">
                <strong>DETAILS</strong>
              </div>
              <div>
                {%if data.book_pic%}

                <img src="{{data.book_pic.url}}" alt="" style="width: 100%; height:350px;">

                {%endif%}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>ISBN Number:</strong> {{data.isbn}}</li>
                <li class="list-group-item"><strong>Book Name: </strong>{{data.book_name}}</li>
                <li class="list-group-item"><strong>Author:</strong> {{data.author}}</li>
                <li class="list-group-item"><strong>Publisher: </strong>{{data.publisher}}</li>
                <li class="list-group-item"><strong>published_year: </strong>{{data.published_year}}</li>
              </ul>
            </div>
      </div>
      <div class="col-4"></div>
  </div>
</div>
{%endblock%}